<%-# HOME VIEW FOR SIGNED-IN USERS-%>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">

  	  <%-# Render partial for the Home page sidebar in views/shared/_user_info.html-%>
      <%-# Displays in top left: gravatar, username, link to profile, posts count-%>
      <section>
        <%= render 'shared/user_info' %>
      </section>

      <%-# Render partial for displaying following and followers count -%>
      <section>
        <%= render 'shared/stats' %>
      </section>

      <%-# Render partial in views/shared for the Userpost form -%>
      <section>
        <%= render 'shared/userpost_form' %>
      </section>

    </aside>

    <div class="span8">
    <%-# Right side of window, render list of different user posts -%>
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>  


<%-# HOME VIEW FOR SIGNED-OUT USERS-%>

<% else %>

  <div class="center home-box">
    <%= link_to image_tag("twilight.jpg", alt: "FestMate"), signup_path %>
    <%-# HTML THIS YIELDS: <img alt="FestMate" src="/assets/twilight.jpg" /> -%>
  </div>

  <div class="center home-box">
	  <h1>Fest Mate</h1>

  	<h2>
	  Welcome to a community of music lovers and friends!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
    							class: "btn btn-large btn-primary" %>
  </div>

  
<% end %>






