<% provide(:title, "Edit profile") %> 
<h1>Update your profile</h1>
<%-# the form_for helper method, takes in an Active Record object (@profile) and constructs a form in html using the object’s attributes -%>

<div class="row">
  <div class="span6 offset3 forms_box">

    <%= form_for @profile, :url => {:action => 'update'}, 
                           :html => {:method => :put} do |f| %>
                           
        <%-# the shared error_messages partial -%>
        <%= render 'shared/error_messages', object: f.object %>
        
        <p>
  	       <%= f.label :relationship_status %>
  	       <%= f.radio_button :relationship_status, "Single" %> Single
  	       <%= f.radio_button :relationship_status, "In relationship" %> In relationship
  	    </p>

    	  <p>
    	   <%= f.label :gender %>
    	   <%= f.radio_button :gender, "Male" %> Male
    	   <%= f.radio_button :gender, "Female" %> Female
    	  </p>

        <%= f.label :city %>
        <%= f.text_field :city %>

    	  <div class="field">
          <%= f.label :music %>
          <%= f.text_area(:music, placeholder: "Who are your favourite artists?...", :size => "20x5")%>
      	</div>

    	  <div class="field">
  	      <%= f.label :about_me %>
          <%= f.text_area(:about_me, placeholder: "What other interests do you have?...", :size => "20x5")%>
    	  </div>
     
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <%-# forward @profile params to 'update' action in Profiles controller -%>

    <% end %>

  </div>
</div>

<%-# Rails uses a POST request for new users and a PUT for editing users -%>
<%-# When constructing a form, Rails uses POST if @profile.new_record? is true -%>
<%-# and PUT if it is false. -%>
<%-# Here I needed to specify to always use a PUT request as it was not a requirement for users to add profile information when creating accounts -%>
