<% provide(:title, @user.name) %>

<div class="row">

  <aside class="span4">

    <h3>  
        <%= @user.name %>
    </h3>

    <section>
      <%-#  gravatar_for helper method defined in helpers/users_helper.rb -%>
      <%= gravatar_for @user, size: 300 %>

    </section>

    <section>
      <%= render 'shared/stats' %>        
      <%-# views/shared/_stats -%>
    </section>

    <%-# Add Personal Profile Info -%>
    <section class="profiles">
          <%= render 'shared/profile_info' %>           
    </section>

  </aside>

  <div class="span8">
    <%= render 'follow_form' if signed_in? %>   
    <%-# Display a 'Follow' or 'Unfollow' button if on another users page -%> 
    <%-# views/users/_follow_form -%>

    <% if @user.userposts.any? %>
      <h3>Posts by <%= @user.name %> (<%= @user.userposts.count %>)</h3>

      <ol class="userposts">
        <%= render @userposts %>
      </ol>
      <%-# Renders each userpost using _userpost.html.erb partial -%>
      <%-# similar to render code in users/index.html -%>
	
      <%= will_paginate @userposts %>
    <% end %>
  </div>

</div>

<%-# @user variable defined in the corresponding show action in the Users controller -%>

<%-# gravatar_for method is in the file for helpers associated with the Users controller, users_helper.rb -%>

<%-# the <aside> tag is used for content (such as sidebars) that complements the rest of the page but can also stand alone. The row and span4 CSS classes in the tags are both part of Bootstrap -%>
