<%-# Called in static_pages/home.html i.e. user's home view -%>
<%-# Displays in top left: gravatar, username, link to profile, posts count-%>

<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>

<h1>
  <%= current_user.name %>
</h1>

<span>
  <%= link_to "view my profile", current_user %>
</span>

<span>
  <%= pluralize(current_user.userposts.count, "post") %>
</span>