<!DOCTYPE html>
<html>

<head>  
  <%-# full_title method defined in application_helper.rb -%>
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%-# To deal with older versions of IE don't support html5: -%>
  <%= render 'layouts/shim' %>    
</head>

<body>

<%-# Render HEADER TAG with app logo and navbar links: -%>
	<%= render 'layouts/header' %>

    <div class="container">

      <%= yield %>

<%-# Partial file to render FOOTER TAG: -%>
      <%= render 'layouts/footer' %>

    </div>

</body>

</html>
